<h1>New Shout</h1>


<div class="panel panel-default">
	<div class="panel-body">
		<div class="form-group">
			<input type="text" id="employeeEmail" class="form-control", placeholder="Enter employee's email." />
		</div>
		<div class="form-group">
			<textarea id="reason" rows="4" cols="50" placeholder = "Why? Give a reason why you want to shout.">
				
			</textarea>
		</div>
		<br>
		<div class="form-group">
			<button type="submit" id="btnShout" class="btn btn-primary">Shout!</button>
		</div>
	</div>
</div>