<h1>New Shout</h1>

<%= simple_form_for @shout do |f| %>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="form-group">
				<%= f.input :receiver_id, label: "Who do you want to shout at?", class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.input :notes,label: "Why?", as: :text, class: "form-control" %>
			</div>
		</div>
		<div>
			<%= f.submit %>
		</div>
	</div>
<% end %>
