header {
	@extend .container-fluid;
	background: $brand-primary;
	border-bottom: 3px solid $brand-primary-dark;
	> section {
		> div {
			@extend .container;
		}
	}
	section {
		@extend .row;
	}
}

.main-nav {
	@extend .navbar;
	@extend .navbar-default;
	@extend .row;
}

.navbar-brand {
	div {
		text-indent: -9999px;
		background: image-url("logo.png");
		display: block;
		width: 117px;
		height: 40px;
	}
}

.navbar-default {
	border-width: 0;
	.navbar-toggle {
		border: none;
	}
}

.navbar-brand {
	padding: $navbar-padding-horizontal;
}

.navbar-nav {
	> li > a {
		@include clearfix;
		line-height: $line-height-navbar;
		padding: $navbar-padding-horizontal ($navbar-padding-horizontal * 1.75);
		&.notification-link {
			background: $brand-info;
			margin-left: $navbar-padding-horizontal;
			&:hover {
				background: $brand-primary-light;
				.icon {
					color: #FFF;
				}
			}
		}
	}
}

.shout-text, .profile-text {
	@extend .pull-right;
}

.megaphone-wrapper {
	@extend .pull-left;
	@extend %circle-crop;
	background-color: $brand-secondary;
}

.profile-wrapper {
	@extend .pull-left;
	@extend %circle-crop;
	img {
		max-width: 100%;
	}
}

.header-text {
	@extend .pull-right;
}
