header {
	@extend .container-fluid;
	background: $brand-primary;
	> section {
		> div {
			@extend .container;
		}
	}
	section {
		@extend .row;
	}
}

.main-nav {
	@extend .navbar;
	@extend .navbar-default;
	@extend .row;
}

.navbar-brand {
	div {
		text-indent: -9999px;
		background: image-url("logo.png");
		display: block;
		width: 117px;
		height: 40px;
	}
}
