.icon {
	text-indent: -9999px;
	display: block;

	&.bolt {
		background-image: image-url('bolt.png');
		width: 19px;
		height: 30px;
		margin: 5px 0;
		a:hover & {
			background-image: image-url('bolt-hover.png');
		}
	}
	&.megaphone {
		background-image: image-url('megaphone.png');
		width: 21px;
		height: 20px;
		margin: 9px auto 0;
	}
	&.title-megaphone {
		background-image: image-url('title-megaphone.png');
		width: 25px;
		height: 24px;
		display: inline-block;
	    overflow: hidden;
	    vertical-align: top;
	    margin: 0 10px 0 0;
	    border: 0;
	}
	&.title-profile {
		background-image: image-url('title-profile.png');
		width: 22px;
		height: 24px;
		display: inline-block;
	    overflow: hidden;
	    vertical-align: top;
	    margin: 0 10px 0 0;
	    border: 0;
	}
	&.search {
		background-image: image-url('search.png');
		height: 20px;
		width: 20px;
		a:hover & {
			background-image: image-url('search-hover.png');
		}
	}
	.open & {
		&.bolt {
			background-image: image-url('bolt-hover.png');
			a:hover & {
				background-image: image-url('bolt-hover.png');
			}
		}
	}
	&.trophy {
		background-image: image-url('trophy.png');
		height: 24px;
		width: 19px;
		display: inline-block;
	    overflow: hidden;
	    vertical-align: top;
	    margin: 0 10px 0 0;
	    border: 0;
	}
	&.news {
		background-image: image-url('news.png');
		height: 24px;
		width: 24px;
		display: inline-block;
	    overflow: hidden;
	    vertical-align: top;
	    margin: 0 10px 0 0;
	    border: 0;
	}
	&.comment {
		@extend .pull-left;
		background-image: image-url('comment.png');
		width: 13px;
		height: 13px;
		margin: 3px 5px 0 0;
		&.blue {
			background-image: image-url('comment-hover.png');
		}
	}
	&.like {
		@extend .pull-left;
		background-image: image-url('like.png');
		width: 18px;
		height: 14px;
		margin: 2px 5px 0 0;
		&.blue {
			background-image: image-url('like-hover.png');
		}
	}
	&.login {
		background-image: image-url('login.png');
		width: 17px;
		height: 19px;
		margin: 10px auto 0;
	}
	&.sign-up {
		background-image: image-url('sign-up.png');
		width: 19px;
		height: 15px;
		margin: 12px auto 0;
	}


	&.core-done {
		background-image: image-url('badges/core-done.png');
		width: 42px;
		height: 42px;
		margin: 14px auto 0;
	}
	&.core-handshake {
		background-image: image-url('badges/core-handshake.png');
		width: 44px;
		height: 41px;
		margin: 14px auto 0;
	}
	&.core-propeller {
		background-image: image-url('badges/core-propeller.png');
		width: 56px;
		height: 56px;
		margin: 7px auto 0;
	}
	&.core-win {
		background-image: image-url('badges/core-win.png');
		width: 31px;
		height: 33px;
		margin: 18px auto 0;
	}
	&.core-shine {
		background-image: image-url('badges/core-shine.png');
		width: 28px;
		height: 46px;
		margin: 12px auto 0;
	}
	&.core-thinking {
		background-image: image-url('badges/core-thinking.png');
		width: 43px;
		height: 47px;
		margin: 11px auto 0;
	}
	&.engineering-java {
		background-image: image-url('badges/engineering-java.png');
		width: 46px;
		height: 42px;
		margin: 14px auto 0;
	}
	&.engineering-baby {
		background-image: image-url('badges/engineering-baby.png');
		width: 44px;
		height: 49px;
		margin: 10px auto 0;
	}
	&.engineering-perl {
		background-image: image-url('badges/engineering-perl.png');
		width: 49px;
		height: 43px;
		margin: 13px auto 0;
	}
	&.engineering-clean {
		background-image: image-url('badges/engineering-clean.png');
		width: 42px;
		height: 38px;
		margin: 16px auto 0;
	}
	&.engineering-lean {
		background-image: image-url('badges/engineering-lean.png');
		width: 39px;
		height: 33px;
		margin: 18px auto 0;
	}
	&.engineering-scrumcious {
		background-image: image-url('badges/engineering-scrumcious.png');
		width: 31px;
		height: 23px;
		margin: 23px auto 0;
	}
	&.design-pixel {
		background-image: image-url('badges/design-pixel.png');
		width: 43px;
		height: 44px;
		margin: 13px auto 0;
	}
	&.design-vinci {
		background-image: image-url('badges/design-vinci.png');
		width: 41px;
		height: 41px;
		margin: 14px auto 0;
	}
	&.design-bootstrapper {
		background-image: image-url('badges/design-bootstrapper.png');
		width: 36px;
		height: 42px;
		margin: 14px auto 0;
	}
	&.design-gridlocker {
		background-image: image-url('badges/design-gridlocker.png');
		width: 33px;
		height: 45px;
		margin: 12px auto 0;
	}
	&.design-guru {
		background-image: image-url('badges/design-guru.png');
		width: 40px;
		height: 50px;
		margin: 10px auto 0;
	}
	&.design-bff {
		background-image: image-url('badges/design-bff.png');
		width: 47px;
		height: 32px;
		margin: 19px auto 0;
	}
}
a:hover {
	.icon.like.blue {
		background-image: image-url('like-hover2.png');
	}
	.icon.comment.blue {
		background-image: image-url('comment-hover2.png');
	}
}
