input, textarea {
	padding: 10px;
	&:focus {
		outline: none;
	}
}

.wrapper {
	@extend .container;
	margin-top: 25px;
	margin-bottom: 25px;
	> section {
		> div {
			@extend .container;
		}
	}
	section {
		@extend .row;
		&.top-hustlers, &.invite-sidebar {
			margin: 0;
			& + .top-hustlers {
				padding-top: 0;
			}
		}
	}
}

h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
}

.small-badge {
	@extend %badge;
	@extend .pull-left;
	margin: 0 2px 2px 0;
	width: 10px;
	height: 10px;
}

.large-badge {
	@extend %badge;
	@extend .pull-left;
	width: 70px;
	height: 70px;
	margin: 0 25px 25px 0;
}

.btn {
	@include button-size($padding-base-vertical, $padding-base-horizontal, 18px, $line-height-base, $btn-border-radius-base);
	border: none;
}
