input, textarea {
	padding: 10px;
	&:focus {
		outline: none;
	}
}

.wrapper {
	@extend .container;
	margin-top: 25px;
	margin-bottom: 25px;
	> section {
		> div {
			@extend .container;
		}
	}
	section {
		@extend .row;
	}
}
