input, textarea {
	padding: 10px;
	&:focus {
		outline: none;
	}
}

.wrapper {
	@extend .container;
	margin-top: 5px;
	margin-bottom: 5px;
	> section {
		> div {
			@extend .container;
		}
	}
	section {
		@extend .row;
		&.top-hustlers {
			margin: 0;
			& + .top-hustlers {
				padding-top: 0;
			}
		}
	}
}

h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
}

.small-badge {
	@extend %badge;
	@extend .pull-left;
	margin: 0 2px 2px 0;
}
