%circle-crop {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin-right: 10px;
	overflow: hidden;
}

%badge {
	border-radius: 50%;
	&.core {
		background-color: $brand-warning;
	}
	&.engineering {
		background-color: $brand-success;
	}
	&.design {
		background-color: $brand-tertiary;
	}
	&.qa {
		background-color: $brand-primary-light;
	}
	&.product {
		background-color: $brand-danger;
	}
}


%block-heading {
	background: $brand-gray;
	color: #fff;
	padding: 18px 25px;
	line-height: 24px;
	font-size: 20px;
	margin-top: 0;
}

%shadow {
	-webkit-box-shadow: 0 2px 6px -3px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 2px 6px -3px rgba(0, 0, 0, 0.25);
	box-shadow: 0 2px 6px -3px rgba(0, 0, 0, 0.25);
}

%profile-photo {
	width: 75px;
	height: 75px;
	overflow: hidden;
	margin: 0 25px 25px 0;
	img {
		min-width: 100%;
		max-width: 100%;
	}
}
