.sidebar {
	h2, h3 {
		@extend %block-heading;
	}
	aside {
		@extend %shadow;
		background: #fff;
	}
}

.top-hustlers {
	padding: 25px;
	h4 {
		font-size: 19px;
		font-weight: 300;
		margin: 0 0 3px;
	}
	h5 {
		font-size: 14px;
		margin: 0 0 3px;
	}
}

.hustler-photo {
	@extend .pull-left;
	@extend %profile-photo;
}

.invite-photo {
	width: 100%;
	img {
		width: 100%;
	}
}

.invite-text {
	padding: 25px;
	text-align: center;
	h6 {
		font-size: 19px;
		font-weight: 300;
	}
	.btn {
		margin-top: 10px;
	}
}
