<aside>
	<h2><div class="icon trophy"></div><span>Top Hustlers</span></h2>
	<section class="top-hustlers">
		<div class="hustler-photo"><img src="<%= asset_path 'jennifer.jpg' %>"></div>
		<h4>Jennifer Lee</h4>
		<h5>VP Product Strategy</h5>
		<p><a href="">Badges Earned</a></p>
		<div class="hustler-badges">
			<div class="small-badge core"></div><div class="small-badge core"></div><div class="small-badge core"></div><div class="small-badge core"></div><div class="small-badge core"></div><div class="small-badge engineering"></div><div class="small-badge engineering"></div><div class="small-badge design"></div><div class="small-badge design"></div><div class="small-badge qa"></div><div class="small-badge product"></div><div class="small-badge product"></div><div class="small-badge product"></div>
		</div>
	</section>
	<section class="top-hustlers">
		<div class="hustler-photo"><img src="<%= asset_path 'jennifer.jpg' %>"></div>
		<h4>Jennifer Lee</h4>
		<h5>VP Product Strategy</h5>
		<p><a href="">Badges Earned</a></p>
		<div class="hustler-badges">
			<div class="small-badge core"></div><div class="small-badge core"></div><div class="small-badge engineering"></div><div class="small-badge engineering"></div><div class="small-badge engineering"></div><div class="small-badge engineering"></div><div class="small-badge engineering"></div><div class="small-badge qa"></div><div class="small-badge qa"></div><div class="small-badge qa"></div><div class="small-badge qa"></div><div class="small-badge qa">
		</div>
	</section>
	<section class="top-hustlers">
		<div class="hustler-photo"><img src="<%= asset_path 'jennifer.jpg' %>"></div>
		<h4>Jennifer Lee</h4>
		<h5>VP Product Strategy</h5>
		<p><a href="">Badges Earned</a></p>
		<div class="hustler-badges">
			<div class="small-badge core"></div><div class="small-badge core"></div><div class="small-badge core"></div><div class="small-badge core"></div><div class="small-badge design"></div><div class="small-badge design"></div><div class="small-badge design"></div><div class="small-badge product"></div><div class="small-badge product"></div>
		</div>
	</section>
</aside>
