<aside>
	<h2><span>Jennifer's Profile</span></h2>

	<div class="row shouts">
		<section>
            <div class="profile-photo">              
              <img src="<%= asset_path 'jennifer.jpg' %>">
            </div>
			<p class="badge-name">Jennifer Lee</p>
			<p class="badge-category">VP Product Strategy</p>

			<p class="badge-why">"Jennifer is the Vice President of Product and Strategy and Development at DealerSocket. Outside of work she enjoys mini-golf, badmitton, and spending time with her family."</p>
		</section>
	</div>

	<div class="badge-list">
		<section class="well">
			<div class="row badge-category">
				<p class="category-title">Core Values</p>
				<section>
					<div class="large-badge core"><div class="icon core-done"></div></div>
					<p>Gets it done</p>
				</section>
				<section>
					<div class="large-badge core"><div class="icon core-handshake"></div></div>
					<p>Gets it done</p>
				</section>
			</div>
			<div class="row badge-category">
				<p class="category-title">Engineering</p>
				<section>
					<div class="large-badge engineering"><div class="icon engineering-java"></div></div>
					<p>Gets it done</p>
				</section>
				<section>
					<div class="large-badge engineering"><div class="icon engineering-baby"></div></div>
					<p>Gets it done</p>
				</section>
				<section>
					<div class="large-badge engineering"><div class="icon engineering-perl"></div></div>
					<p>Gets it done</p>
				</section>
				<section>
					<div class="large-badge engineering"><div class="icon engineering-clean"></div></div>
					<p>Gets it done</p>
				</section>
			</div>
			<div class="row badge-category">
				<p class="category-title">Design</p>
				<section>
					<div class="large-badge design"><div class="icon design-pixel"></div></div>
					<p>Gets it done</p>
				</section>
				<section>
					<div class="large-badge design"><div class="icon design-vinci"></div></div>
					<p>Gets it done</p>
				</section>
				<section>
					<div class="large-badge design"><div class="icon design-bootstrapper"></div></div>
					<p>Gets it done</p>
				</section>
			</div>
		</section>
	</div>
	
</aside>
