<aside>
	<h2><span>Select a shout badge.</span></h2>

	<div class="row shouts">
		<section>
			<div class="large-badge core"><div class="icon core-handshake"></div></div>
			<p class="badge-name">Java Barista</p>
			<p class="badge-category">Engineering</p>

			<p class="badge-why">This employee crafts the perfect cup of code consistently. They serve the team with the freshest insight and implement accordingly.

</p>
		</section>
	</div>

	<div class="badge-list">
		<section class="well">
			<div class="row badge-category">
				<p class="category-title">Core Values</p>
				<section>
					<div class="large-badge core"><div class="icon core-done"></div></div>
					<p>Gets it done</p>
				</section>
				<section>
					<div class="large-badge core"><div class="icon core-handshake"></div></div>
					<p>Handshake</p>
				</section>
				<section>
					<div class="large-badge core"><div class="icon core-propeller"></div></div>
					<p>Propeller</p>
				</section>
				<section>
					<div class="large-badge core"><div class="icon core-win"></div></div>
					<p>Serves to win</p>
				</section>
				<section>
					<div class="large-badge core"><div class="icon core-shine"></div></div>
					<p>Shine-On</p>
				</section>
				<section>
					<div class="large-badge core"><div class="icon core-thinking"></div></div>
					<p>Beyond Thinking</p>
				</section>
			</div>
			<div class="row badge-category">
				<p class="category-title">Engineering</p>
				<section>
					<div class="large-badge engineering"><div class="icon engineering-java"></div></div>
					<p>Java Barista</p>
				</section>
				<section>
					<div class="large-badge engineering"><div class="icon engineering-baby"></div></div>
					<p>Baby Byte</p>
				</section>
				<section>
					<div class="large-badge engineering"><div class="icon engineering-perl"></div></div>
					<p>Mother of Perl</p>
				</section>
				<section>
					<div class="large-badge engineering"><div class="icon engineering-clean"></div></div>
					<p>Clean Coder</p>
				</section>
				<section>
					<div class="large-badge engineering"><div class="icon engineering-scrumcious"></div></div>
					<p>Scrumcious</p>
				</section>
				<section>
					<div class="large-badge engineering"><div class="icon engineering-lean"></div></div>
					<p>Lean and Mean</p>
				</section>
			</div>
			<div class="row badge-category">
				<p class="category-title">Design</p>
				<section>
					<div class="large-badge design"><div class="icon design-pixel"></div></div>
					<p>Pixel Pushre</p>
				</section>
				<section>
					<div class="large-badge design"><div class="icon design-vinci"></div></div>
					<p>Da Vinci</p>
				</section>
				<section>
					<div class="large-badge design"><div class="icon design-bootstrapper"></div></div>
					<p>Bootstrapper</p>
				</section>
				<section>
					<div class="large-badge design"><div class="icon design-gridlocker"></div></div>
					<p>Gridlocker</p>
				</section>
				<section>
					<div class="large-badge design"><div class="icon design-guru"></div></div>
					<p>Graphics Guru</p>
				</section>
				<section>
					<div class="large-badge design"><div class="icon design-bff"></div></div>
					<p>Devs BFF</p>
				</section>
			</div>
		</section>
	</div>
</aside>
