<aside>
	<section class="invite-sidebar">
		<div class="invite-photo"><img src="<%= asset_path 'invite.jpg' %>"></div>
		<div class="invite-text">
			<h6>Know someone who’s not on here?</h6>
			<p>But they should be?</p>
			<button type="button" class="btn btn-primary">Send an invite!</button>
		</div>
	</section>
</aside>
